.playlist-modal {
	z-index: 10;
	background-color: #fff;
	box-shadow: 0 3px 10px var(--box-shadow);
	width: 30rem;
	max-height: 32rem;
	position: absolute;
	top: 40%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 1rem;
	border-radius: 5px;
}
.playlist-container {
	max-height: 15rem;
	overflow-y: scroll;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 1rem 0;
	padding: 1rem 0;
}
.playlist-item {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.new-playlist-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
