.video-player-container {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
}
.video-player-modal {
	position: absolute;
	top: 25%;
	left: 25%;
	padding: 1rem;
}
.video-player {
	height: 100%;
	width: 100%;
}
.option-container {
	display: flex;
	gap: 3rem;
}

@media only screen and (max-width: 48em) {
	.video-player-modal {
		top: 20%;
		left: 5%;
	}
}
