.tab-container {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	overflow-x: scroll;
}
::-webkit-scrollbar {
	display: none;
}
.video-grid {
	background-color: rebeccapurple;
}
.filled-icon {
	color: var(--primary-color);
}
