.hz-video-card {
	display: flex;
	flex-direction: row;
	gap: 5px;
	background-color: var(--hover-color);
}
.hz-video-card :hover {
	cursor: pointer;
}
.hz-card-image {
	height: 100%;
	max-width: 50%;
	align-self: center;
}
.ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
